

/* --------------=============== GROBAL ==================--------------*/

@font-face {
	font-family: 'dido';
	src: url(fonts/dido-roman-webfont.woff);
}

@font-face {
	font-family: 'helvetic_world';
	src: url(fonts/helveticworld-regular-webfont.woff);
}

input[type="text"],
input[type="email"],
textarea,input[type="tel"]{
	border: 1px solid #00BCD4;
	height: 50px;
	width: 100%;
	padding: 15px 20px;
	line-height: 24px;
}


.button {
	display: inline-block;
	height: 39px;
	line-height: 40px;
	padding: 0 1em;
	background-color:#00BCD4;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
	border-radius: 5px;
}


/* =============== COLOR ===============*/

.color-negro{background: #000;}

.color-celeste{color: #00BCD4;}

.back-celeste {background:#00BCD4; }

.white-background {background: #fff;}

.white-color {color: #fff;}


/* =================================================*/

*:after,
*:before,
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:0;
}



body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding: 0;
}

a {text-decoration: none;}

ul {list-style-type: none;}

p {margin: 1em 0;}

h2 {margin: 1.5em 0;}

.post-container h2,.post-container p,figure,ul {margin: 0;}

.img-responsive {max-width: 100%;height: auto;}


::selection {
background:#00BCD4;
color:#fff;
}
::-moz-selection {
background:#00BCD4;
color:#fff;
}
::-webkit-selection {
background:#00BCD4;
color:#fff;
}


/* ==============  CLEARFIX ===============*/

.clearfix:after{clear: both;}

.clearfix:after,.clearfix:before{content: "";display: table;}

/*===============================================================*/

/* -------------------- EFECTO DE REBOTE ---------------------*/

@-webkit-keyframes bounce{
	from,to{-webkit-transform:translate(0,0);}

	50%{-webkit-transform:translate(0,5px);}
}

@-moz-keyframes bounce{
	from,to{-moz-transform:translate(0,0);}
	50%{-moz-transform:translate(0,5px)}
}

@keyframes bounce {
	from,to{-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0)}
	50%{-webkit-transform:translate(0,5px);
	-moz-transform:translate(0,5px);
	-ms-transform:translate(0,5px);
	-o-transform:translate(0,5px);
	transform:translate(0,5px);}

}
/* ======================================================*/


/* ========================================================*/

/* ====================== HEADER =====================*/


#portada {
	color:#ffffff; 
	background: url(images/medicina.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	width: 100%;
	z-index: 0;
	position: relative;
	min-height: 400px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}

.fondo {background: rgba(67, 83, 199, 0.4);z-index: 1;}

.container {z-index: 2;}

.wrapper-titles {text-transform: uppercase;}

.wrapper-titles h1 {
	font:600 3.3em/1.2  'Open Sans',helvetica,sans-serif;;
	letter-spacing: 0.28em;
	margin: 5px 0;
}

.wrapper-titles h2 {
	font-family: 'Open Sans',helvetica,sans-serif;
	letter-spacing: 5px;
	font-weight: 300;
	margin: 0.83em;
	font-size: 1.4em;
}

#logo {
	z-index: 2;
	position: absolute;
	top: 3%;
	left: 1.5%;

}



#logo img {
	max-width: 100px;
	width: 25%;
	vertical-align: middle;
	display: inline-block;
}

#logo span{
	vertical-align: middle;
	text-transform: uppercase;
	display: inline-block;
	margin-left: -10px;
	margin-top: -18px;

}

.icon-scroll {
	width: 19px;
	height: 26px;
	margin: 7% 0;
	display: inline-block;
	 background: url('images/button-discover.png') no-repeat center center;
	-moz-transition:all .15s ease 0;
	-webkit-transition:all .15s ease 0;
	transition:all .15s ease-out 0;
	-webkit-animation:bounce 1.5s infinite ease;
	-moz-animation:bounce 1.5s infinite ease;
	animation:bounce 1.5s infinite ease;
}


/*========================= NAVIGATION BAR ===================================*/
nav,.fixed {position: fixed;}

nav {top: 3px;right: 0;z-index: 200000009;}

.navbar-toggle-right {
	float: right;
	margin: 0px 6px 6px 0px;
	padding: 24px;
	background: transparent;
	border:0px none;
}



.navbar-toggle-right:active {
	border: none;
}



.navbar-toggle-right .icon-bar {
	display: block;
	width: 36px;
	height: 6px;
	margin-top: 6px;
	
}

#navigation {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 200000008;
	padding-top: 5%;
	background: #00BCD4;
	opacity: 0.85;
}


#navigation ul{
	width: 55%;
	float: right;
	margin-right: 5%;
	padding: 4% 0;


}
#navigation ul li {position: relative;padding: 15px 0;background: #00BCD4;overflow: hidden;}

#navigation ul li a{
	text-align: left;
	font: 300 1.8em "dido",'Open-Sans',helvetica,sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	color:#fff;
}


#container {
	width: 30%;
	margin-right: 5%;
	margin-left: 3%;
	float: right;
	padding: 4% 0;
}

#LabelHorario {
	position: relative;
	background:#0091EA;
	border-radius: 5px;
	width: 100%;
	height: 72px;
	z-index: 4000;
}

#BotonHorario {
	border-radius: 5px;
	cursor: pointer;
	background:#fff;
	width: 72px;
	height: 72px;
	position: absolute;
	top: 0;
	right: 0;
}

#BotonHorario  img {
	position: absolute;
	top: 50%;left: 50%;
	transform:translate(-50%,-50%) rotate(90deg);
	transition:all 0.45s ease;
}

#BotonHorario:hover  img {transform-origin: 20% 40%;transform:rotate(180deg);}

#LabelHorario span {
	color:#fff;
	font-size: 1.2em;
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 10%;
	transform:translateY(-50%);
}



#horario {
	color: #0091EA;
	padding: 11% 8%;
	background: #fff;
	margin-top:-4%;
	display: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
}


/*======================= SECTION BIOGRAFIA =================================*/


#bio {background: #fff;}


.wrapper-img {
	float: left;
	width: 50%;
	margin: 0;
	
}

.text {float: left;width: 50%;padding: 1% 4%;}

.text p {
	  font-family: "helvetic_world";
	  font-size: 1.25em;
	  line-height: 1.5;
}

.subtitle {font-size: 1.8em;font-style: italic;}

.title {
	text-transform: uppercase;
	font-family: "dido";
	font-size: 4.5em;
	font-weight: 500;
}

.title:after {
	content: "";
	display: block;
	width: 130px;
	background: #fff;
	height: 2px;
	margin: 20px 15px;
}


.wrapper-img img {width: 100%;height:100%;}


/* =================== SECTION SERVICIOS =======================*/



#servicios {
	width: 100%;
	padding: 6% 0;
}


#servicios a {color:#00BCD4;}

#servicios .title:after {margin: 20px auto;background: #00BCD4;}

.caja {float: left;width: 24%;padding: 0 1%;margin: 1% 0;}

.caja:first-child {margin-left: 2%;}

.caja img{width: 100%;height: 100%;}

.post-container {padding: 2% 0;}

.post-container h2 {padding: 3% 0;}

.post-container p {letter-spacing: 1px;font-weight: 400;line-height: 1.5;text-align: left;padding: 0 0.5%;}





/*================ SECTION Our Sponsors & Partners ================================*/


#partners {width: 100%;padding: 3%;}

.outer-container {width: 85%;margin: 0 auto;}

.inner-container {width: 100%;}

/* ========== FOOTER ==============*/


#main-footer {width: 100%;}


/* ========================= CONTENIDO DE PAGINA MEDICINA GENERAL ================*/

.titulo-main {font-size: 3.7em;}

#Content-Medicina {width: 100%;}


/* ============ Contacto Pagina ====================*/

#outerInfoContact {width: 100%;padding: 5%;}

.sub-header {
	height: 275px;
	width: 100%;
	background:url(images/fondo1.jpg) no-repeat center 45%;
	background-size:cover;
	position: relative;
	z-index: 0;

}

.blur {background: rgba(0, 188, 212, 0.5);z-index: 1;width: 100%;height: 100%;padding: 4% 5%;}

.sub-header-info {z-index: 3;color:#fff;}

.sub-header-info h2 {text-transform: uppercase;font-size: 2.5em;margin: 0.5em 0;}

#sectionMaps {width: 100%;height: 450px;}

#map-canvas {width: 100%;height: 100%;}

#legend { background: white;padding: 15px 20px;border-radius: 4px;margin-top: 1%;}

#legend  p {font-size: 1.5em;}



#outerContainerFormulario{
	padding: 5%;
	width: 100%;
	background:#fff;
	opacity: 0.65;
}

.text-center {text-align: center;}


#innerInfo{padding: 1% 0;width: 70%;margin:0 auto;}

.estilo-fuente .title {margin:0.7em 0;font-size: 3.5em;line-height: 1.8;}

.estilo-fuente .title:after{background: #00BCD4;margin:0 auto; }

.infoGeneral {margin-bottom: 3%;}

#innerInfo p {font-size: 1.3em;font-weight: 300;letter-spacing: 2px;}

#innerContenedorForm{width: 75%;padding:2% 0;margin: 0 auto;}

#Formulario{padding: 1% 0;}

.email-info:hover {text-decoration: underline;}

.box-50 {width: 100%;margin: 2% 0;}

.box-50 input{width: 49%;float: left;} 

.box-50 input:nth-child(2n){margin-left: 1%;}

.box-100 {width: 99%;margin-right: 1%}

#Formulario textarea {height:200px;}



/* ================= RESPONSIVE DESIGN =====================*/


@media screen and (max-width: 1200px) {

	body { font-size: 14px; }

}


@media screen and (max-width: 1000px) {

	#portada, #bio, #servicios { font-size: 12px; }

	#bio .wrapper-parrafo {font-size: 13px;}

	#site-links {font-size: 14px;width: 95%;}	
}


@media screen and (max-width: 900px) {


	#site-links {font-size: 12px;}

	/* ============ biografia ==================*/
	.wrapper-img {width: 46%;}

	.text {padding: 2% 3%;}

	/*------------------------*/

	#portada { font-size: 10px; }

	#bio, #servicios {font-size:11px; }

	#contact {font-size: 12px;}

	

}


@media screen and (max-width: 790px) {

		/* ------- biografia -------*/
		.text {padding: 3% 6%;}

		.caja {width: 85%;float: none;max-width: 600px;margin: 0 auto;}

		.caja:first-child {margin: 0 auto;}
		/* =======================================================*/

		#site-links {display: none;}

		#portada { font-size: 9px; }

		.text {width: 100%;float: none;}

		.wrapper-img {float: none;width: 100%;max-height: 400px;overflow: hidden;}

		.wrapper-img img {max-height: 100%;}

		

		/* ====== CONTACTO =======================*/

	#location-info {width: 100%;float: none;}

	#location-info h2 {margin: 1em 0;}

	.mapas {float: none;height: 100%;width: 100%;}

	

	/*==============================================*/
}

@media screen and (max-width: 570px) {

	#portada { font-size: 8px; }

	#contact {font-size: 11px;}		

}


@media screen and (max-width: 450px) {

	#portada { font-size: 7px; }

	#location-info {width: 100%;float: none;}

	.mapas {float: none;height: 100%;width: 100%;}

	#contact {font-size: 10px;}

	#main-footer {font-size: 12px;}

	#site-links {padding-left:4%;width: 100%;float: none;}

}





